@model Mvc_Clinic.Models.ForgetPasswordToEmailModel

@{
    ViewBag.Title = "ForgetPasswordToEmail";
    Layout = "~/Views/Shared/_myLayout_Home.cshtml";
}

@*<h2>ForgetPasswordToEmail</h2>*@

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <center>
            <legend><b>FORGET PASSWORD</b></legend>
            <div style="color:red;"><b>@ViewBag.msg</b></div>
            <table>
                <tr>
                    @*<td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.adminID)
                        </div>
                    </td>*@
                    <td>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.adminID, new { @class = "form-control", placeholder = "*Admin ID" })

                        </div>
                    </td>
                   
                </tr>
                <tr>
                    <td style="color:red;">
                        @Html.ValidationMessageFor(model => model.adminID)
                    </td>
                </tr>


                @*<div class="editor-label">
                    @Html.LabelFor(model => model.name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.name)
                    @Html.ValidationMessageFor(model => model.name)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.subject)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.subject)
                    @Html.ValidationMessageFor(model => model.subject)
                </div>*@

                @*<div class="editor-label">
                    @Html.LabelFor(model => model.body)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.body)
                    @Html.ValidationMessageFor(model => model.body)
                </div>*@
                <tr>
                    <td>
                        <p>
                            
                            <button type="submit" class="btn btn-primary" style="width:350px; height:50px;">Send Password to my Email</button>
                        </p>
                    </td>
                </tr>
            </table>
        </center>
    </fieldset>

    <div style="height:60px;"></div>
}



