<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="Mitali Memorial, Mitali Memorial Poly Clinic,Clinic in Kalyani, Kalyani Clinic, Clinic, Poly Clinic, Kalyani, Clinic in West Bengal, One of the best clinic in Kalyani, Souvik Saha, Atanu Roy, Subhajit Saha " />
    <meta name="description" content="Mitali Memorial Poly Clinic is West Bengal's one of the best poly clinics. Our group of more than 40 specialist doctors and 30 staffs give you the best of modern healthcare to ensure you stay healthy. We provide quality health care services with facilities for diagnostics, health checks & more, all under one roof.">
    <meta name="author" content="Souvik Saha, Atanu Roy, Subhajit Saha">
    <meta name="author" content="Subhajit Saha" />
    <meta name="author" content="Souvik Saha" />
    <meta name="author" content="Atanu roy" />
    @RenderSection("metatags", required: false)

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

    <!-- Vendor Styles -->
    <link href="~/Content/MyTemplate/vendor/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/MyTemplate/")vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/MyTemplate/")vendor/themify/themify.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/MyTemplate/")vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css" />


    <!-- Theme Styles -->
    <link href="@Url.Content("~/Content/MyTemplate/")css/style.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/MyTemplate/")css/global/global.css" rel="stylesheet" type="text/css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/MyTemplate/")img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/MyTemplate/")img/apple-touch-icon.png">
    <link rel="icon" href="~/Content/MyTemplate/img/Logo/logo.png">

</head>
<body>

    <!--========== HEADER V2 ==========-->
    <header class="navbar-fixed-top s-header-v2 js__header-sticky ">
        <!-- Navbar -->
        <nav class="s-header-v2__navbar">
            <div class="container g-display-table--lg">
                <!-- Navbar Row -->
                <div class="s-header-v2__navbar-row">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="s-header-v2__navbar-col">
                        <button type="button" class="collapsed s-header-v2__toggle" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                            <span class="s-header-v2__toggle-icon-bar"></span>
                        </button>
                    </div>

                    <div class="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">
                        <!-- Logo -->
                        <div class=" s-header-v2__logo row">
                            <div class="col-md-6 col-sm-4 col-xs-4" style="padding-right:0px;">
                                <a href="@Url.Action("Index","Home")" class="s-header-v2__logo-link -is-active">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--default" src="~/Content/MyTemplate/img/Logo/logo.png" alt="Clinic Logo">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--shrink" src="~/Content/MyTemplate/img/Logo/logo.png" alt="Clinic Logo">

                                </a>
                            </div>
                            <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 hidden-xs g-font-weight--700 g-font g-font-size-24--xs" style="font-family: 'Cinzel Decoration',cursive; padding-left:0px;">
                                <a href="@Url.Action("Index","Home")" class="s-header-v2__logo-link -is-active" style="color: #FF534E; ">
                                    M.M.P.C.
                                </a>
                            </div>
                        </div>
                        <!-- End Logo -->
                    </div>

                    <div class="s-header-v2__navbar-col s-header-v2__navbar-col--right">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse s-header-v2__navbar-collapse" id="nav-collapse">
                            <ul class="s-header-v2__nav">
                                <li class="s-header-v2__nav-item"><a href="@Url.Action("Index","Home")" class="s-header-v2__nav-link">Home</a></li>
                                <li class="s-header-v2__nav-item"><a href="@Url.Action("DoctorsList","Home")" class="s-header-v2__nav-link">Doctors</a></li>
                                <li class="s-header-v2__nav-item"><a href="@Url.Action("TestDepartments", "Home")" class="s-header-v2__nav-link">Tests</a></li>
                                <li class="s-header-v2__nav-item"><a href="@Url.Action("FAQ","Home")" class="s-header-v2__nav-link -is-active">FAQ</a></li>

                                <li class="s-header-v2__nav-item"><a href="http://www.mitalimemorial.in/#Contact" class="s-header-v2__nav-link">Contact Us</a></li>
                            </ul>
                        </div>
                        <!-- End Nav Menu -->
                    </div>
                </div>
                <!-- End Navbar Row -->
            </div>
        </nav>
        <!-- End Navbar -->
    </header>
    <!--========== END HEADER V2 ==========-->
    <!--========== HEADER IMAGE ==========-->
    <!--========== PROMO BLOCK ==========-->
    <div class="js__parallax-window" style="background: url(../../Content/MyTemplate/img/1920x1080/faq1.jpg) 50% 0 no-repeat fixed;height:320px">
        <div class="g-container--md g-text-center--xs g-padding-y-150--xs">
            <div class="g-margin-b-20--xs">
                <h1 class="g-font-size-40--xs g-font-size-50--sm g-font-size-70--md g-color--white g-letter-spacing--1 g-margin-b-30--xs">FAQ</h1>
                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2">Your Questions. Answered.</p>
            </div>
        </div>
    </div>
    <!--========== END PROMO BLOCK ==========-->






    <div>
        @RenderBody()
    </div>

    <footer class="g-bg-color--dark">

        <!-- Copyright -->
        <div class="container g-padding-y-20--xs">
            <div class="row">
                <div>
                    <p class="pull-left g-color--white-opacity-light">Copyright © 2018 <a href="@Url.Action("Index","Home")"> Mitali Memorial Poly Clinic,</a> All Rights Reserved.</p>
                    <p class="pull-right"><a target="_blank" class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light" href="@Url.Action( "GetDevelopers", "Home")">Developers Group</a></p>
                </div>
            </div>
        </div>
        <!-- End Copyright -->
    </footer>


    <!-- Back To Top -->
    <a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>

    <!--========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========-->
    <!-- Vendor -->
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")vendor/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")vendor/jquery.migrate.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")vendor/jquery.back-to-top.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")vendor/scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")vendor/jquery.parallax.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

    <!-- General Components and Settings -->
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/global.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/components/header-sticky.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/components/scrollbar.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/components/faq.min.js"></script>
    <!--========== END JAVASCRIPTS ==========-->
    <script src="~/Content/MyTemplate/js/components/faq.js"></script>

</body>
</html>
